v1/flow_opdata_hydraulic_todov1-dup.json
[
    {
        "id": "41b3a1439ccec2c1",
        "type": "subflow",
        "name": "Property handler",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 520,
                "wires": [
                    {
                        "id": "95ca925e8f8cf880"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1880,
                "y": 500,
                "wires": [
                    {
                        "id": "1274c1fecaa655a8",
                        "port": 0
                    },
                    {
                        "id": "78d0225e0b3a8fe6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1880,
                "y": 800,
                "wires": [
                    {
                        "id": "e62907e7bcbce663",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1880,
                "y": 860,
                "wires": [
                    {
                        "id": "f02316f50a016d5d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PropertyName",
                "type": "str",
                "value": ""
            },
            {
                "name": "PropertyLink",
                "type": "str",
                "value": ""
            },
            {
                "name": "HistoryLength",
                "type": "num",
                "value": ""
            },
            {
                "name": "PropertyLinkEvt",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1740,
            "y": 700,
            "wires": [
                {
                    "id": "5f9633884f5e4cd4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "127270a25c3d8888",
        "type": "switch",
        "z": "41b3a1439ccec2c1",
        "name": "topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "observe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unobserve",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "1274c1fecaa655a8",
                "2cd93262147d3143"
            ],
            [
                "0f6603d9f95134b3",
                "78d0225e0b3a8fe6"
            ],
            [
                "0f6603d9f95134b3"
            ]
        ]
    },
    {
        "id": "1274c1fecaa655a8",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "PrepareOutput",
        "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\n//observation.source = msg.source;\nobservation.direction = \"Output\";\n\nvar observableReference = \"\";\n\n//var observedKeys = msg.payload.observed.keys;\n/*for(var key in observedKeys){\n    if(parseInt(key) < 2){\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow Created\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\ncontext.flow.set('ObsObj', observation);\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\nmsg.payload = observation;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1175,
        "y": 500,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "2cd93262147d3143",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "func": "msg.topic = \"control\";\nmsg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1175,
        "y": 540,
        "wires": [
            [
                "f894203f2fd3ac35",
                "5f9633884f5e4cd4"
            ]
        ],
        "l": false
    },
    {
        "id": "f894203f2fd3ac35",
        "type": "gate",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "persist": false,
        "x": 1490,
        "y": 800,
        "wires": [
            [
                "e62907e7bcbce663"
            ]
        ]
    },
    {
        "id": "e62907e7bcbce663",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\nvar outMsg = {};\nvar ObsObj = context.flow.get('ObsObj');\nObsObj.id = uuid;\nvar timestamp = context.flow.get(\"$parent.timestamp\");\nObsObj.timestamp = timestamp;\nObsObj.payload = context.flow.get(\"variable\");\noutMsg.payload = ObsObj;\nreturn outMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1635,
        "y": 800,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "0f6603d9f95134b3",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "func": "msg.topic = \"control\";\nmsg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1175,
        "y": 660,
        "wires": [
            [
                "f894203f2fd3ac35",
                "5f9633884f5e4cd4"
            ]
        ],
        "l": false
    },
    {
        "id": "78d0225e0b3a8fe6",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "PrepareOutput",
        "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\nobservation.source = msg.source;\nobservation.direction = \"Output\";\nvar observableReference = \"\";\n\n/*var observedKeys = msg.payload.observed.keys;\nfor (var key in observedKeys) {\n    if (parseInt(key) < 2) {\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow removed\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\n\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\ncontext.flow.set(\"ObsObj\", \"\");\nmsg.payload = observation;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1175,
        "y": 600,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "96b701c2b50dc6f7",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "func": "var propertyName = env.get(\"PropertyName\");\nvar Outmsg = {};\nOutmsg.topic = msg.topic;\nvar variable = context.flow.get(\"$parent.\" + propertyName);\ncontext.flow.set(\"variable\", variable);\n\nOutmsg.payload = variable;\nreturn Outmsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 875,
        "y": 800,
        "wires": [
            [
                "f894203f2fd3ac35",
                "f02316f50a016d5d"
            ]
        ],
        "l": false
    },
    {
        "id": "f02316f50a016d5d",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "responseTime",
        "func": "var historyArrayName = \"$parent.\" + env.get(\"PropertyName\") + \"_hist\";\nvar outMsg= {};\noutMsg.topic = \"put\";\noutMsg.payload = {\n    link: env.get(\"PropertyLink\"),\n    tstamp: context.flow.get(\"$parent.timestamp\"),\n    data: context.flow.get(\"variable\")\n};\nlet history = context.flow.get(historyArrayName) || [];\nif (history.length >= env.get(\"HistoryLength\")){\n    history.pop();\n}\nhistory.push(outMsg.payload);\ncontext.flow.set(historyArrayName, history);\nreturn outMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1075,
        "y": 860,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "95ca925e8f8cf880",
        "type": "switch",
        "z": "41b3a1439ccec2c1",
        "name": "scheduler",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "sbi scheduling data routing",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "127270a25c3d8888"
            ],
            [
                "96b701c2b50dc6f7"
            ]
        ]
    },
    {
        "id": "5f9633884f5e4cd4",
        "type": "unsafe-function",
        "z": "41b3a1439ccec2c1",
        "name": "",
        "func": "if(msg.payload == \"open\"){\n    msg.payload = ({ fill: \"green\", text: \"Open\" });\n} else if (msg.payload == \"close\"){\n    msg.payload = ({ fill: \"red\", text: \"Closed\" });\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1535,
        "y": 700,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "128ab3134a54f6b4",
        "type": "tab",
        "label": "CLO/OperationalData",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6aa9beecbf5f8d23",
        "type": "group",
        "z": "128ab3134a54f6b4",
        "name": "Set-up",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.4",
            "label": true
        },
        "nodes": [
            "5c3897124d1d95c0",
            "41d553602c61b3d5",
            "4be0576d4487e1ca",
            "1103084ec6579d65",
            "346761bdd7d6cd41"
        ],
        "x": 134,
        "y": 59,
        "w": 1292,
        "h": 182
    },
    {
        "id": "5c3897124d1d95c0",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "g": "6aa9beecbf5f8d23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "initScheduling",
                "v": "* * * * * * *",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "41d553602c61b3d5",
                "346761bdd7d6cd41"
            ]
        ]
    },
    {
        "id": "41d553602c61b3d5",
        "type": "unsafe-function",
        "z": "128ab3134a54f6b4",
        "g": "6aa9beecbf5f8d23",
        "name": "Initialize Context",
        "func": "context.flow.set(\"OilTank\", {});\ncontext.flow.set(\"Pumps\", {});\ncontext.flow.set(\"OilPressure\", -1);\n\ncontext.flow.set(\"NrOfDataSources\", 3);\ncontext.flow.set(\"connected\", false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "568d6b198e562bcd",
        "type": "msg-speed",
        "z": "128ab3134a54f6b4",
        "name": "",
        "frequency": "min",
        "interval": 1,
        "estimation": false,
        "ignore": false,
        "x": 1450,
        "y": 2360,
        "wires": [
            [
                "d9a9ec7b13ac68ad"
            ],
            []
        ]
    },
    {
        "id": "d9a9ec7b13ac68ad",
        "type": "unsafe-function",
        "z": "128ab3134a54f6b4",
        "name": "stats",
        "func": "var statsSBI = {};\nvar msgSpeed = msg.payload;\nvar msgIntervalAndFrequency = msg.intervalAndFrequency;\nstatsSBI.msgSpeed = msgSpeed;\nstatsSBI.IntervalAndFrequency = msgIntervalAndFrequency;\nstatsSBI.maxMsgs = context.flow.get(\"NrOfDataSources\") * 60;\nmsg.payload = statsSBI;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 2340,
        "wires": [
            [
                "8729df28cd0ad953"
            ]
        ]
    },
    {
        "id": "8729df28cd0ad953",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "metrics",
        "alias": "",
        "aliasType": "str",
        "link": "d2edf304.fdfa2",
        "x": 1960,
        "y": 2340,
        "wires": []
    },
    {
        "id": "f849ec6dea68f83c",
        "type": "sub-link-output",
        "z": "128ab3134a54f6b4",
        "inputs": 0,
        "name": "",
        "topic": "metrics",
        "link": "72ae2011.f3d7b",
        "priority": "0",
        "aliasType": "str",
        "alias": "",
        "clone": false,
        "x": 870,
        "y": 2360,
        "wires": [
            [
                "568d6b198e562bcd"
            ],
            []
        ]
    },
    {
        "id": "4f1ed87887f71afd",
        "type": "unsafe-function",
        "z": "128ab3134a54f6b4",
        "name": "statusNotification",
        "func": "var statusCheck  = {};\nstatusCheck.connected = context.flow.get(\"connected\");\nstatusCheck.nrOfDataSources = context.flow.get(\"NrOfDataSources\");\nmsg.payload = {\"statusCheck\": statusCheck};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1670,
        "y": 2500,
        "wires": [
            [
                "e74544313d363da8"
            ]
        ]
    },
    {
        "id": "1be311ebd7890391",
        "type": "link in",
        "z": "128ab3134a54f6b4",
        "name": "driverConnectionCheck in",
        "links": [],
        "x": 615,
        "y": 2500,
        "wires": [
            [
                "4f1ed87887f71afd"
            ]
        ]
    },
    {
        "id": "e74544313d363da8",
        "type": "link out",
        "z": "128ab3134a54f6b4",
        "name": "driverConnectionCheck out",
        "mode": "return",
        "links": [],
        "x": 2575,
        "y": 2500,
        "wires": []
    },
    {
        "id": "31b54d36499ebb93",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "routed",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "d2edf304.fdfa2",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "311577d8e44f3b72",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "metrics",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "72ae2011.f3d7b",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "917b5192627637eb",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "a22a33eaebf6529f",
        "type": "msg-router",
        "z": "128ab3134a54f6b4",
        "routerType": "broadcast",
        "topicDependent": false,
        "counterReset": false,
        "msgKeyField": "payload",
        "undefinedHash": false,
        "outputsInfo": [
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            },
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            }
        ],
        "name": "",
        "delaying": "unrelated",
        "msgControl": false,
        "outputs": 2,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "311577d8e44f3b72"
            ],
            [
                "18ad83ddc14a8fff",
                "91eeebe1d5234d19"
            ]
        ]
    },
    {
        "id": "bc04d292b5afeb1c",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "updateValue",
        "alias": "",
        "aliasType": "string",
        "aliasMatchAll": false,
        "topicType": "string",
        "link": "d2edf304.fdfa2",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "78f183abee0a8770",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "routed",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "d2edf304.fdfa2",
        "x": 2210,
        "y": 500,
        "wires": []
    },
    {
        "id": "18cf822afeb61b42",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "metrics",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "72ae2011.f3d7b",
        "x": 2480,
        "y": 520,
        "wires": []
    },
    {
        "id": "0c4feb0062353fc2",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2afefd3bc7955f0",
        "type": "msg-router",
        "z": "128ab3134a54f6b4",
        "routerType": "broadcast",
        "topicDependent": false,
        "counterReset": false,
        "msgKeyField": "payload",
        "undefinedHash": false,
        "outputsInfo": [
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            },
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            }
        ],
        "name": "",
        "delaying": "unrelated",
        "msgControl": false,
        "outputs": 2,
        "x": 2150,
        "y": 600,
        "wires": [
            [
                "18cf822afeb61b42"
            ],
            [
                "0acf0c089bdaea6a"
            ]
        ]
    },
    {
        "id": "ea5814291cedfe28",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "updateValue",
        "alias": "",
        "aliasType": "string",
        "aliasMatchAll": false,
        "topicType": "string",
        "link": "d2edf304.fdfa2",
        "x": 2650,
        "y": 580,
        "wires": []
    },
    {
        "id": "92cfad2c91b09895",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2650,
        "y": 540,
        "wires": []
    },
    {
        "id": "b42dc23959a32f84",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "routed",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "d2edf304.fdfa2",
        "x": 730,
        "y": 920,
        "wires": []
    },
    {
        "id": "5d82d19d6e72e9de",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "metrics",
        "alias": "",
        "aliasType": "str",
        "aliasMatchAll": false,
        "topicType": "str",
        "link": "72ae2011.f3d7b",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "96ec7195857503e4",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "78057a0f7b42669f",
        "type": "msg-router",
        "z": "128ab3134a54f6b4",
        "routerType": "broadcast",
        "topicDependent": false,
        "counterReset": false,
        "msgKeyField": "payload",
        "undefinedHash": false,
        "outputsInfo": [
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            },
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            }
        ],
        "name": "",
        "delaying": "unrelated",
        "msgControl": false,
        "outputs": 2,
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "5d82d19d6e72e9de"
            ],
            [
                "c838527c1e45652e",
                "b074660cba99adcf"
            ]
        ]
    },
    {
        "id": "efe68260f56f23a8",
        "type": "sub-link-input",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "updateValue",
        "alias": "",
        "aliasType": "string",
        "aliasMatchAll": false,
        "topicType": "string",
        "link": "d2edf304.fdfa2",
        "x": 1170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c838527c1e45652e",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 960,
        "wires": []
    },
    {
        "id": "18ad83ddc14a8fff",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "91eeebe1d5234d19",
        "type": "json",
        "z": "128ab3134a54f6b4",
        "name": "",
        "property": "payload.data",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 580,
        "wires": [
            [
                "9972d2363fc6854d",
                "bc04d292b5afeb1c"
            ]
        ]
    },
    {
        "id": "0acf0c089bdaea6a",
        "type": "json",
        "z": "128ab3134a54f6b4",
        "name": "",
        "property": "payload.data",
        "action": "",
        "pretty": false,
        "x": 2450,
        "y": 580,
        "wires": [
            [
                "ea5814291cedfe28",
                "92cfad2c91b09895"
            ]
        ]
    },
    {
        "id": "b074660cba99adcf",
        "type": "json",
        "z": "128ab3134a54f6b4",
        "name": "",
        "property": "payload.data",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 1000,
        "wires": [
            [
                "efe68260f56f23a8"
            ]
        ]
    },
    {
        "id": "9972d2363fc6854d",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "5a1c93be4e5d72ab",
        "type": "link call",
        "z": "128ab3134a54f6b4",
        "name": "",
        "links": [
            "d884617cdad19deb"
        ],
        "timeout": "30",
        "x": 900,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ea163a297d9c3c4d",
        "type": "link call",
        "z": "128ab3134a54f6b4",
        "name": "",
        "links": [
            "d884617cdad19deb"
        ],
        "timeout": "30",
        "x": 2360,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "11a4d77208f05d98",
        "type": "link call",
        "z": "128ab3134a54f6b4",
        "name": "",
        "links": [
            "d884617cdad19deb"
        ],
        "timeout": "30",
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4be0576d4487e1ca",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "g": "6aa9beecbf5f8d23",
        "name": "Event Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sbi scheduling data routing",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "1103084ec6579d65"
            ]
        ]
    },
    {
        "id": "1103084ec6579d65",
        "type": "link out",
        "z": "128ab3134a54f6b4",
        "g": "6aa9beecbf5f8d23",
        "name": "trigger_out",
        "mode": "link",
        "links": [
            "d3433b9148edca2b",
            "c2ca411926b66486",
            "791f17302d8b4ca4",
            "95e9e3286be87883",
            "806b9c4f8b70c7cd",
            "469190e8fdba17b9",
            "ec14f144a59e5438"
        ],
        "x": 1305,
        "y": 200,
        "wires": []
    },
    {
        "id": "806b9c4f8b70c7cd",
        "type": "link in",
        "z": "128ab3134a54f6b4",
        "name": "trigger_in_1",
        "links": [
            "1103084ec6579d65"
        ],
        "x": 185,
        "y": 480,
        "wires": [
            [
                "60fc493c21196b3f"
            ]
        ]
    },
    {
        "id": "c2ca411926b66486",
        "type": "link in",
        "z": "128ab3134a54f6b4",
        "name": "trigger_in_2",
        "links": [
            "1103084ec6579d65"
        ],
        "x": 1725,
        "y": 480,
        "wires": [
            [
                "850ae93348f20888"
            ]
        ]
    },
    {
        "id": "791f17302d8b4ca4",
        "type": "link in",
        "z": "128ab3134a54f6b4",
        "name": "trigger_in_3",
        "links": [
            "1103084ec6579d65"
        ],
        "x": 165,
        "y": 900,
        "wires": [
            [
                "7e4f682b4b2f5c11"
            ]
        ]
    },
    {
        "id": "e5b5943b04487788",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "observe",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "7e4f682b4b2f5c11"
            ]
        ]
    },
    {
        "id": "ca845fe51ab78740",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "unobserve",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "7e4f682b4b2f5c11"
            ]
        ]
    },
    {
        "id": "6f7c2c99bba4d56c",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "observe",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "60fc493c21196b3f"
            ]
        ]
    },
    {
        "id": "256bc3429f4f5210",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "unobserve",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "60fc493c21196b3f"
            ]
        ]
    },
    {
        "id": "d006dee3ddf2966c",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "observe",
        "payload": "",
        "payloadType": "date",
        "x": 1730,
        "y": 540,
        "wires": [
            [
                "850ae93348f20888"
            ]
        ]
    },
    {
        "id": "65378e2d9b245964",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "unobserve",
        "payload": "",
        "payloadType": "date",
        "x": 1720,
        "y": 580,
        "wires": [
            [
                "850ae93348f20888"
            ]
        ]
    },
    {
        "id": "f97d56a1024072d1",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "60fc493c21196b3f"
            ]
        ]
    },
    {
        "id": "2ed0ae584bc3e15a",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1040,
        "wires": [
            [
                "7e4f682b4b2f5c11"
            ]
        ]
    },
    {
        "id": "671f4b7036c5715d",
        "type": "inject",
        "z": "128ab3134a54f6b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "date",
        "x": 1740,
        "y": 620,
        "wires": [
            [
                "850ae93348f20888"
            ]
        ]
    },
    {
        "id": "60fc493c21196b3f",
        "type": "subflow:41b3a1439ccec2c1",
        "z": "128ab3134a54f6b4",
        "name": "Property 1",
        "env": [
            {
                "name": "PropertyName",
                "value": "OilTank",
                "type": "str"
            },
            {
                "name": "PropertyLink",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.OilTank",
                "type": "str"
            },
            {
                "name": "HistoryLength",
                "value": "14400",
                "type": "num"
            },
            {
                "name": "PropertyLinkEvt",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.OilTankEvt",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "917b5192627637eb",
                "11a4d77208f05d98"
            ],
            [
                "31b54d36499ebb93"
            ],
            [
                "a22a33eaebf6529f"
            ]
        ]
    },
    {
        "id": "850ae93348f20888",
        "type": "subflow:41b3a1439ccec2c1",
        "z": "128ab3134a54f6b4",
        "name": "Property 2",
        "env": [
            {
                "name": "PropertyName",
                "value": "Pumps",
                "type": "str"
            },
            {
                "name": "PropertyLink",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.Pumps",
                "type": "str"
            },
            {
                "name": "HistoryLength",
                "value": "14400",
                "type": "num"
            },
            {
                "name": "PropertyLinkEvt",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.PumpsEvt",
                "type": "str"
            }
        ],
        "x": 1910,
        "y": 480,
        "wires": [
            [
                "0c4feb0062353fc2",
                "ea163a297d9c3c4d"
            ],
            [
                "78f183abee0a8770"
            ],
            [
                "d2afefd3bc7955f0"
            ]
        ]
    },
    {
        "id": "7e4f682b4b2f5c11",
        "type": "subflow:41b3a1439ccec2c1",
        "z": "128ab3134a54f6b4",
        "name": "Property 3",
        "env": [
            {
                "name": "PropertyName",
                "value": "OilPressure",
                "type": "str"
            },
            {
                "name": "PropertyLink",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.DeliveryLine.OilPressure",
                "type": "str"
            },
            {
                "name": "HistoryLength",
                "value": "14400",
                "type": "num"
            },
            {
                "name": "PropertyLinkEvt",
                "value": "https://nova.hydraulic.simulation.com/ids/aas/6383_5151_1112_3966/OperationalData/CLO.DeliveryLine.OilPressureEvt",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 900,
        "wires": [
            [
                "96ec7195857503e4",
                "5a1c93be4e5d72ab"
            ],
            [
                "b42dc23959a32f84"
            ],
            [
                "78057a0f7b42669f"
            ]
        ]
    },
    {
        "id": "346761bdd7d6cd41",
        "type": "link call",
        "z": "128ab3134a54f6b4",
        "g": "6aa9beecbf5f8d23",
        "name": "",
        "links": [
            "6dcade97108980fd"
        ],
        "timeout": "30",
        "x": 1300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3dafa8ac0e092fdd",
        "type": "http in",
        "z": "128ab3134a54f6b4",
        "name": "",
        "url": "/asset/hydraulic",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 2780,
        "wires": [
            [
                "8d197c4c56f1922b",
                "bcc990380363430d"
            ]
        ]
    },
    {
        "id": "8d197c4c56f1922b",
        "type": "http response",
        "z": "128ab3134a54f6b4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 2720,
        "wires": []
    },
    {
        "id": "fb246baf8b471438",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 2780,
        "wires": []
    },
    {
        "id": "bcc990380363430d",
        "type": "function",
        "z": "128ab3134a54f6b4",
        "name": "",
        "func": "var timestamp = context.flow.get(\"timestamp\") || 0;\nvar pressure = context.flow.get(\"OilPressure\") || 0.0;\nvar oilTank = context.flow.get(\"OilTank\") || \"\";\nvar pumps = context.flow.get(\"Pumps\") || \"\";\n\nvar payload = JSON.parse(msg.payload);\n\npressure = parseFloat(payload.pressure);\n\noilTank = {\n    \"OilLevel\": parseFloat(payload.oilLevel),\n    \"MaxOilLevel\": parseInt(payload.maxOilLevel, 2),\n    \"MinOilLevel\": parseInt(payload.minOilLevel, 2),\n    \"OilTemperature\": parseFloat(payload.temperature),\n    \"MaxOilTemperatureTreshold\": parseInt(payload.maxOilTemperature),\n    \"MinOilTemperatureTreshold\": parseInt(payload.minOilTemperature),\n    \"HeatersStatus\": parseInt(payload.heatersStatus, 2),\n    \"FanStatus\": parseInt(payload.coolingStatus, 2),\n    \"FanSpeed\": parseInt(payload.fanSpeed)\n}\n\npumps = {\n    \"SuctionValve1Status\": parseInt(payload.suctionValve1, 2),\n    \"SuctionValve2Status\": parseInt(payload.suctionValve2, 2),\n    \"SuctionValve3Status\": parseInt(payload.suctionValve3, 2),\n    \"PumpMotor1Status\": parseInt(payload.pumpMotor1, 2),\n    \"PumpMotor2Status\": parseInt(payload.pumpMotor2, 2),\n    \"PumpMotor3Status\": parseInt(payload.pumpMotor3, 2)\n}\n\nvar date = new Date(payload.timestamp);\n\ncontext.flow.set(\"timestamp\", date.getTime());\n//temperature = parseFloat(msg.payload.replace(/,/g, '.'));\ncontext.flow.set(\"OilTank\", oilTank);\ncontext.flow.set(\"Pumps\", pumps);\ncontext.flow.set(\"OilPressure\", pressure);\n\n\nreturn [msg, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 2780,
        "wires": [
            [
                "85f040e0c14433f5"
            ],
            [
                "fb246baf8b471438"
            ]
        ]
    },
    {
        "id": "85f040e0c14433f5",
        "type": "countdown",
        "z": "128ab3134a54f6b4",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": 30,
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": false,
        "x": 1770,
        "y": 2720,
        "wires": [
            [
                "2cdfcc11730bcf9b"
            ],
            [
                "cb5acecddfdb5f2f"
            ]
        ]
    },
    {
        "id": "02dfceee964538e5",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2210,
        "y": 2700,
        "wires": []
    },
    {
        "id": "cb5acecddfdb5f2f",
        "type": "debug",
        "z": "128ab3134a54f6b4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 2740,
        "wires": []
    },
    {
        "id": "2cdfcc11730bcf9b",
        "type": "function",
        "z": "128ab3134a54f6b4",
        "name": "",
        "func": "let status = msg.payload;\ncontext.flow.set(\"connected\", status);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 2700,
        "wires": [
            [
                "02dfceee964538e5"
            ]
        ]
    },
    {
        "id": "d2edf304.fdfa2",
        "type": "sub-link-config",
        "name": "southbound",
        "clone": false
    },
    {
        "id": "72ae2011.f3d7b",
        "type": "sub-link-config",
        "name": "driver",
        "clone": false
    }
]