v2/flow_opdata_todo_v2.json
[{"id": "41b3a1439ccec2c1", "type": "subflow", "name": "Property handler", "info": "", "category": "", "in": [{"x": 260, "y": 520, "wires": [{"id": "95ca925e8f8cf880"}]}], "out": [{"x": 1880, "y": 500, "wires": [{"id": "1274c1fecaa655a8", "port": 0}, {"id": "78d0225e0b3a8fe6", "port": 0}]}, {"x": 1880, "y": 800, "wires": [{"id": "e62907e7bcbce663", "port": 0}]}, {"x": 1880, "y": 860, "wires": [{"id": "f02316f50a016d5d", "port": 0}]}], "env": [{"name": "PropertyName", "type": "str", "value": ""}, {"name": "PropertyLink", "type": "str", "value": ""}, {"name": "HistoryLength", "type": "num", "value": ""}, {"name": "PropertyLinkEvt", "type": "str", "value": ""}], "meta": {}, "color": "#DDAA99", "status": {"x": 1740, "y": 700, "wires": [{"id": "5f9633884f5e4cd4", "port": 0}]}}, {"id": "127270a25c3d8888", "type": "switch", "z": "41b3a1439ccec2c1", "name": "topic", "property": "topic", "propertyType": "msg", "rules": [{"t": "eq", "v": "observe", "vt": "str"}, {"t": "eq", "v": "unobserve", "vt": "str"}, {"t": "eq", "v": "init", "vt": "str"}], "checkall": "false", "repair": false, "outputs": 3, "x": 890, "y": 500, "wires": [["1274c1fecaa655a8", "2cd93262147d3143"], ["0f6603d9f95134b3", "78d0225e0b3a8fe6"], ["0f6603d9f95134b3"]]}, {"id": "1274c1fecaa655a8", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "PrepareOutput", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\n//observation.source = msg.source;\nobservation.direction = \"Output\";\n\nvar observableReference = \"\";\n\n//var observedKeys = msg.payload.observed.keys;\n/*for(var key in observedKeys){\n    if(parseInt(key) < 2){\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow Created\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\ncontext.flow.set('ObsObj', observation);\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\nmsg.payload = observation;\nreturn msg;\n\n\n", "outputs": 1, "noerr": 0, "x": 1175, "y": 500, "wires": [[]], "l": false}, {"id": "2cd93262147d3143", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "msg.topic = \"control\";\nmsg.payload = \"open\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1175, "y": 540, "wires": [["f894203f2fd3ac35", "5f9633884f5e4cd4"]], "l": false}, {"id": "f894203f2fd3ac35", "type": "gate", "z": "41b3a1439ccec2c1", "name": "", "controlTopic": "control", "defaultState": "closed", "openCmd": "open", "closeCmd": "close", "toggleCmd": "toggle", "defaultCmd": "default", "persist": false, "x": 1490, "y": 800, "wires": [["e62907e7bcbce663"]]}, {"id": "e62907e7bcbce663", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\nvar outMsg = {};\nvar ObsObj = context.flow.get('ObsObj');\nObsObj.id = uuid;\nvar timestamp = context.flow.get(\"$parent.timestamp\");\nif (typeof timestamp == 'undefined') {\n    timestamp = new Date().getTime();\n}\nelse {\n    ObsObj.timestamp = timestamp;\n}\nObsObj.payload = context.flow.get(\"variable\");\noutMsg.payload = ObsObj;\nreturn outMsg;", "outputs": 1, "noerr": 0, "x": 1635, "y": 800, "wires": [[]], "l": false}, {"id": "0f6603d9f95134b3", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "msg.topic = \"control\";\nmsg.payload = \"close\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1175, "y": 660, "wires": [["f894203f2fd3ac35", "5f9633884f5e4cd4"]], "l": false}, {"id": "78d0225e0b3a8fe6", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "PrepareOutput", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\nobservation.source = msg.source;\nobservation.direction = \"Output\";\nvar observableReference = \"\";\n\n/*var observedKeys = msg.payload.observed.keys;\nfor (var key in observedKeys) {\n    if (parseInt(key) < 2) {\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow removed\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\n\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\ncontext.flow.set(\"ObsObj\", \"\");\nmsg.payload = observation;\nreturn msg;\n\n\n", "outputs": 1, "noerr": 0, "x": 1175, "y": 600, "wires": [[]], "l": false}, {"id": "96b701c2b50dc6f7", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "var propertyName = env.get(\"PropertyName\");\nvar Outmsg = {};\nOutmsg.topic = msg.topic;\nvar variable = context.flow.get(\"$parent.\" + propertyName);\ncontext.flow.set(\"variable\", variable);\n\nOutmsg.payload = variable;\nreturn Outmsg;\n", "outputs": 1, "noerr": 0, "x": 875, "y": 800, "wires": [["f894203f2fd3ac35", "f02316f50a016d5d"]], "l": false}, {"id": "f02316f50a016d5d", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "responseTime", "func": "var historyArrayName = \"$parent.\" + env.get(\"PropertyName\") + \"_hist\";\nvar outMsg = {};\noutMsg.topic = \"put\";\nvar timestamp = context.flow.get(\"$parent.timestamp\");\nif (typeof timestamp == \"undefined\") {\n    timestamp = new Date().getTime();\n}\noutMsg.payload = {\n    link: env.get(\"PropertyLink\"),\n    tstamp: timestamp,\n    data: context.flow.get(\"variable\")\n};\nlet history = context.flow.get(historyArrayName) || [];\nif (history.length >= env.get(\"HistoryLength\")) {\n    history.pop();\n}\nhistory.push(outMsg.payload);\ncontext.flow.set(historyArrayName, history);\nreturn outMsg;", "outputs": 1, "noerr": 0, "x": 1075, "y": 860, "wires": [[]], "l": false}, {"id": "95ca925e8f8cf880", "type": "switch", "z": "41b3a1439ccec2c1", "name": "scheduler", "property": "topic", "propertyType": "msg", "rules": [{"t": "neq", "v": "sbi scheduling data routing", "vt": "str"}, {"t": "else"}], "checkall": "false", "repair": false, "outputs": 2, "x": 440, "y": 520, "wires": [["127270a25c3d8888"], ["96b701c2b50dc6f7"]]}, {"id": "5f9633884f5e4cd4", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "if(msg.payload == \"open\"){\n    msg.payload = ({ fill: \"green\", text: \"Open\" });\n} else if (msg.payload == \"close\"){\n    msg.payload = ({ fill: \"red\", text: \"Closed\" });\n}\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1535, "y": 700, "wires": [[]], "l": false}, {"id": "128ab3134a54f6b4", "type": "tab", "label": "DPDM/OperationalData", "disabled": false, "info": ""}, {"id": "6aa9beecbf5f8d23", "type": "group", "z": "128ab3134a54f6b4", "name": "Set-up", "style": {"fill": "#e3f3d3", "fill-opacity": "0.4", "label": true}, "nodes": ["5c3897124d1d95c0", "41d553602c61b3d5", "4be0576d4487e1ca", "1103084ec6579d65", "d57f305ac53e4d3f", "f8b354e5d9771dda"], "x": 134, "y": 59, "w": 1232, "h": 182}, {"id": "b3fca1f0.1e5ef8", "type": "group", "z": "128ab3134a54f6b4", "name": "Simulator", "style": {"fill": "#ffffbf", "label": true}, "nodes": ["50caec1c.6ad584", "a526eb90.5eb89", "468a613a.658ae8", "66121d53.f7a264", "be9595d8.2df6a8", "2dd76a11.baee1e", "98dd4417.bb6a8", "5543cf66.c72ba8", "aa852a4a.3a9728", "3f2701d6.f73216", "f23c2e8f.c112f", "9d3857b4.a3a72", "a2d0442e.c3b158", "67e92151.ed84b8", "deaca8d7.b5846", "4f700a47.b1503c", "e3a6732e.ca9c5", "b84f2e00.9385c8", "6d18c370.e424fc", "b6935d1d.70c508", "9233e59a.9662b", "6b5bce5c.8f7818", "151fde71.ad247a", "ce77388f.a7693", "5fe0925e.2b993c", "48dd5be3.c049ac", "18abfa8d.7a70a5", "cc4c0f0b.0473a8", "fbec0d31.b2b898", "95c62ca4.9097f8"], "x": 14, "y": 2299, "w": 2872, "h": 516}, {"id": "5c3897124d1d95c0", "type": "inject", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}, {"p": "initScheduling", "v": "* * * * * * *", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 250, "y": 100, "wires": [["41d553602c61b3d5", "f8b354e5d9771dda"]]}, {"id": "41d553602c61b3d5", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "Initialize Context", "func": "context.flow.set(\"CurrentOperatingPressure\", 0);\ncontext.flow.set(\"CylinderStatus\", 0);\ncontext.flow.set(\"ResponseTime\", 0);\ncontext.flow.set(\"ValvePosition\", 0);\ncontext.flow.set(\"NewCycle\", false);\ncontext.flow.set(\"Cycle\", 0);\ncontext.flow.set(\"ResponseTimePred\", []);\n\ncontext.flow.set(\"NrOfDataSources\", 7);\ncontext.flow.set(\"connected\", false);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1240, "y": 100, "wires": [[]]}, {"id": "568d6b198e562bcd", "type": "msg-speed", "z": "128ab3134a54f6b4", "name": "", "frequency": "min", "interval": 1, "estimation": false, "ignore": false, "x": 1330, "y": 2080, "wires": [["d9a9ec7b13ac68ad"], []]}, {"id": "d9a9ec7b13ac68ad", "type": "unsafe-function", "z": "128ab3134a54f6b4", "name": "stats", "func": "var statsSBI = {};\nvar msgSpeed = msg.payload;\nvar msgIntervalAndFrequency = msg.intervalAndFrequency;\nstatsSBI.msgSpeed = msgSpeed;\nstatsSBI.IntervalAndFrequency = msgIntervalAndFrequency;\nstatsSBI.maxMsgs = context.flow.get(\"NrOfDataSources\") * 60;\nmsg.payload = statsSBI;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1590, "y": 2060, "wires": [["50f874d57977fcf9"]]}, {"id": "4be0576d4487e1ca", "type": "inject", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "Event Trigger", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "1", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "sbi scheduling data routing", "payload": "", "payloadType": "date", "x": 260, "y": 200, "wires": [["1103084ec6579d65"]]}, {"id": "1103084ec6579d65", "type": "link out", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "trigger_out", "mode": "link", "links": ["469190e8fdba17b9", "528e58833a988422", "791f17302d8b4ca4", "806b9c4f8b70c7cd", "95e9e3286be87883", "c2ca411926b66486", "eac1e7b53fa37af3"], "x": 1270, "y": 200, "wires": [], "l": true}, {"id": "806b9c4f8b70c7cd", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_1", "links": ["1103084ec6579d65"], "x": 185, "y": 480, "wires": [["60fc493c21196b3f"]]}, {"id": "c2ca411926b66486", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_2", "links": ["1103084ec6579d65"], "x": 1725, "y": 480, "wires": [["850ae93348f20888"]]}, {"id": "791f17302d8b4ca4", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_3", "links": ["1103084ec6579d65"], "x": 145, "y": 800, "wires": [["7e4f682b4b2f5c11"]]}, {"id": "469190e8fdba17b9", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_4", "links": ["1103084ec6579d65"], "x": 1705, "y": 780, "wires": [["b406223a6495d1be"]]}, {"id": "95e9e3286be87883", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_5", "links": ["1103084ec6579d65"], "x": 135, "y": 1140, "wires": [["1c2f7fbf9f21a1f0"]]}, {"id": "e1a3ba2461a9793f", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 230, "y": 1200, "wires": [["1c2f7fbf9f21a1f0"]]}, {"id": "74b1ba8063285d28", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 220, "y": 1240, "wires": [["1c2f7fbf9f21a1f0"]]}, {"id": "e5b5943b04487788", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 230, "y": 860, "wires": [["7e4f682b4b2f5c11"]]}, {"id": "ca845fe51ab78740", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 220, "y": 900, "wires": [["7e4f682b4b2f5c11"]]}, {"id": "6f7c2c99bba4d56c", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 170, "y": 540, "wires": [["60fc493c21196b3f"]]}, {"id": "256bc3429f4f5210", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 160, "y": 580, "wires": [["60fc493c21196b3f"]]}, {"id": "d006dee3ddf2966c", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1730, "y": 540, "wires": [["850ae93348f20888"]]}, {"id": "65378e2d9b245964", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1720, "y": 580, "wires": [["850ae93348f20888"]]}, {"id": "cc527a942da20281", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1730, "y": 840, "wires": [["b406223a6495d1be"]]}, {"id": "a513ea10cf429ecb", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1720, "y": 880, "wires": [["b406223a6495d1be"]]}, {"id": "f97d56a1024072d1", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 180, "y": 620, "wires": [["60fc493c21196b3f"]]}, {"id": "2ed0ae584bc3e15a", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 240, "y": 940, "wires": [["7e4f682b4b2f5c11"]]}, {"id": "4554e218694823c1", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 240, "y": 1280, "wires": [["1c2f7fbf9f21a1f0"]]}, {"id": "671f4b7036c5715d", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1740, "y": 620, "wires": [["850ae93348f20888"]]}, {"id": "48b59e1f8f29af8b", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1740, "y": 920, "wires": [["b406223a6495d1be"]]}, {"id": "60fc493c21196b3f", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 1", "x": 350, "y": 480, "wires": [["29ec53ca67775119", "3effae4003a3cd14"], ["118b72141e8280b0"], ["48dfda9c64478ddf"]], "env": [{"name": "PropertyName", "type": "str", "value": "CurrentOperatingPressure"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/CurrentOperatingPressure"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/CurrentOperatingPressureEvt"}]}, {"id": "850ae93348f20888", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 2", "x": 1910, "y": 480, "wires": [["bbabab10659015eb", "cc76437a38d1e3ec"], ["8eb2a8dd31d2f511"], ["c0db113d9e1e2270"]], "env": [{"name": "PropertyName", "type": "str", "value": "ResponseTime"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTime"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTimeEvt"}]}, {"id": "7e4f682b4b2f5c11", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 3", "x": 410, "y": 800, "wires": [["da7095029cc0ccab", "20597d7e1260542e"], ["5a01e77e3d78c938"], ["b491db8a651d4a0f"]], "env": [{"name": "PropertyName", "type": "str", "value": "ValvePosition"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ValvePosition"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ValvePositionEvt"}]}, {"id": "b406223a6495d1be", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 4", "x": 1910, "y": 780, "wires": [["27f4b818b58b63dd", "746ba16723454414"], ["d4a45cfb161206c5"], ["07303b823ff47983"]], "env": [{"name": "PropertyName", "type": "str", "value": "ResponseTimeMovingAvg"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTimeMovingAvg"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTimeMovingAvgEvt"}]}, {"id": "1c2f7fbf9f21a1f0", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 5", "x": 430, "y": 1140, "wires": [["8e055deeab749f7d", "95ce6b5d4211fb30"], ["d7c5763300ee1c18"], ["cef26f1eb9a9513c"]], "env": [{"name": "PropertyName", "type": "str", "value": "CylinderStatus"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/CylinderStatus"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/CylinderStatusEvt"}]}, {"id": "eac1e7b53fa37af3", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_5", "links": ["1103084ec6579d65"], "x": 1695, "y": 1140, "wires": [["b009e3eb0e2e199b"]]}, {"id": "33e4bfc73d822969", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1790, "y": 1200, "wires": [["b009e3eb0e2e199b"]]}, {"id": "989ece9714637fbd", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1780, "y": 1240, "wires": [["b009e3eb0e2e199b"]]}, {"id": "baf4b91cb6d5e955", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1800, "y": 1280, "wires": [["b009e3eb0e2e199b"]]}, {"id": "b009e3eb0e2e199b", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 6", "x": 1990, "y": 1140, "wires": [["41b601595418d500", "52db305aa252b6c0"], ["887defc1180ab1c3"], ["3ae8d72f54ecd7f6"]], "env": [{"name": "PropertyName", "type": "str", "value": "Cycle"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/Cycle"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/CycleEvt"}]}, {"id": "528e58833a988422", "type": "link in", "z": "128ab3134a54f6b4", "name": "trigger_in_5", "links": ["1103084ec6579d65"], "x": 135, "y": 1520, "wires": [["6b0c873361077c3b"]]}, {"id": "cacff0a08c562d53", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 230, "y": 1580, "wires": [["6b0c873361077c3b"]]}, {"id": "6b0e702cef1b9412", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 220, "y": 1620, "wires": [["6b0c873361077c3b"]]}, {"id": "c51b380ab3c5eba5", "type": "inject", "z": "128ab3134a54f6b4", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 240, "y": 1660, "wires": [["6b0c873361077c3b"]]}, {"id": "6b0c873361077c3b", "type": "subflow:41b3a1439ccec2c1", "z": "128ab3134a54f6b4", "name": "Property 7", "x": 430, "y": 1520, "wires": [["18af432b201cbcaf", "6cbe049bdcebf52f"], ["7b490650b12ef66f"], ["ed72f9609b049b2d"]], "env": [{"name": "PropertyName", "type": "str", "value": "ResponseTimePred"}, {"name": "PropertyLink", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTimePred"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "http://smart.festo.com/id/instance/aas/5140_0142_3091_4340/OperationalData/ResponseTimePredEvt"}]}, {"id": "4f1ed87887f71afd", "type": "unsafe-function", "z": "128ab3134a54f6b4", "name": "statusNotification", "func": "var statusCheck  = {};\nstatusCheck.connected = context.flow.get(\"connected\");\nstatusCheck.nrOfDataSources = context.flow.get(\"NrOfDataSources\");\nmsg.payload = {\"statusCheck\": statusCheck};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1550, "y": 2200, "wires": [["ab057144cf917fb8"]]}, {"id": "50caec1c.6ad584", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "context.flow.set(\"connected\", true);\nvar valvePosition = context.flow.get(\"ValvePosition\") || 0;\nvar cylinderStatus = context.flow.get(\"CylinderStatus\") || 0;\nvar newCycle = context.flow.get(\"NewCycle\") || false;\nvar cycle = context.flow.get(\"Cycle\") || 0;\nif((valvePosition === 0 && cylinderStatus === 0) && newCycle === false && cycle < 40){\n    context.flow.set(\"NewCycle\", true);\n    cycle = cycle + 1;\n    context.flow.set(\"Cycle\", cycle);\n    return [msg, null];\n} else if((valvePosition === 1 && cylinderStatus === 1) && newCycle === true && cycle < 40){\n    context.flow.set(\"NewCycle\", false);\n    cycle = cycle + 1;\n    context.flow.set(\"Cycle\", cycle);\n    return [null, msg];\n}\n\nreturn null;\n", "outputs": 2, "noerr": 0, "x": 460, "y": 2540, "wires": [["a526eb90.5eb89", "be9595d8.2df6a8"], ["18abfa8d.7a70a5"]]}, {"id": "a526eb90.5eb89", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 750, "y": 2580, "wires": []}, {"id": "468a613a.658ae8", "type": "delay", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "pauseType": "rate", "timeout": "5", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "minute", "randomFirst": "10", "randomLast": "15", "randomUnits": "seconds", "drop": false, "outputs": 1, "x": 860, "y": 2500, "wires": [["66121d53.f7a264", "be9595d8.2df6a8"]]}, {"id": "66121d53.f7a264", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1110, "y": 2580, "wires": []}, {"id": "be9595d8.2df6a8", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var cycle = context.flow.get(\"Cycle\") || 0;\nvar valvePosition = context.flow.get(\"ValvePosition\") || 0;\nvar cylinderStatus = context.flow.get(\"CylinderStatus\") || 0;\nvar startCycleTs = context.flow.get(\"startCycleTs\") || 0;\nvar date = new Date();\n\n    if((cylinderStatus === 0 && valvePosition === 0) || (cylinderStatus === 1 && valvePosition === 1)){\n\n        //context.flow.set(\"timestamp\", date.getTime());\n        context.flow.set(\"startCycleTs\", date.getTime());\n        \n        if(cycle >= 40){\n            //context.flow.set(\"cycle\", cycle);\n            msg.delay = 30000;\n            msg.topic =\"@stats reset\";\n            return msg;\n        }\n        if(valvePosition === 0){\n            valvePosition = 1;\n            context.flow.set(\"ResponseTime\", 0);\n        } else {\n            valvePosition = 0;\n            context.flow.set(\"ResponseTime\", 0);\n        }\n        context.flow.set(\"ValvePosition\", valvePosition);\n        /*if(cycle < 10){\n            msg.delay = 5000 + (5000*0.01*cycle);\n        } else if(cycle < 15 && cycle >= 10){\n            msg.delay = 5500 + (5000*0.02*cycle);\n        } else if (cycle < 20 && cycle >= 15){\n            msg.delay = 6500 + (5000*0.03*cycle);\n        } else if(cycle < 30 && cycle >= 20){\n            msg.delay = 7000 + (5000*0.035*cycle);\n        }else if(cycle < 40 && cycle >= 30){\n            msg.delay = 10250 + (5000*0.04*cycle);\n        }*/\n        if(cycle < 40){\n            msg.delay = 5000 + (5000*0.025*cycle);\n        }\n        \n        \n        return msg;\n    }\n\n\n//var date = new Date();\n//context.flow.set(\"timestamp\", date.getTime());\n//var currentTimeElapsed = date.getTime() - startCycleTs;\n//context.flow.set(\"responseTime\", currentTimeElapsed);\nreturn null;", "outputs": 1, "noerr": 0, "x": 1120, "y": 2540, "wires": [["aa852a4a.3a9728", "f23c2e8f.c112f", "b6935d1d.70c508"]]}, {"id": "2dd76a11.baee1e", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1950, "y": 2354, "wires": []}, {"id": "98dd4417.bb6a8", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var elapsedTimeMovingAvg = msg.result.movingAvg;\ncontext.flow.set(\"ResponseTimeMovingAvg\", elapsedTimeMovingAvg);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 2100, "y": 2460, "wires": [[]]}, {"id": "5543cf66.c72ba8", "type": "Data Analysis", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "action": "realtime", "outputs": 3, "outliersBase": "avg", "outliersStdDevs": "3", "term": "15", "keyProperty": "msg.topic", "dataProperty": "msg.payload", "dataProperties": ["msg.payload[0]", "msg.payload[1]"], "x": 1740, "y": 2414, "wires": [["2dd76a11.baee1e", "98dd4417.bb6a8", "a2d0442e.c3b158"], [], []]}, {"id": "aa852a4a.3a9728", "type": "delay", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "pauseType": "delayv", "timeout": "5", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "outputs": 1, "x": 1340, "y": 2540, "wires": [["3f2701d6.f73216"]]}, {"id": "3f2701d6.f73216", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var cycle = context.flow.get(\"Cycle\") || 0;\nvar valvePosition = context.flow.get(\"ValvePosition\") || 0;\nvar cylinderStatus = context.flow.get(\"CylinderStatus\") || 0;\n\nvar timeElapsed = 0;  \nvar date = new Date();\n\nif((cylinderStatus === \"undefined\" && valvePosition === 1)){\n    context.flow.set(\"CylinderStatus\", 1);\n} else if((cylinderStatus === \"undefined\" && valvePosition === 0)){\n    context.flow.set(\"CylinderStatus\", 0);\n}\n\nif(cycle < 10 && cycle >= 0){\n    timeElapsed = msg.delay;\n} else if(cycle < 15 && cycle >= 10){\n    timeElapsed = msg.delay;\n} else if (cycle < 20 && cycle >= 15){\n    timeElapsed = msg.delay;\n} else if(cycle < 30 && cycle >= 20){\n    timeElapsed = msg.delay;\n}else if(cycle < 40 && cycle >= 30){\n    timeElapsed = msg.delay;\n} else if(cycle >= 40){\n    cycle = 0;\n    context.flow.set(\"Cycle\", cycle);\n    context.flow.set(\"ValvePosition\", 0);\n    context.flow.set(\"CylinderStatus\", 0);\n    context.flow.set(\"NewCycle\", false);\n    context.flow.set(\"ResponseTime\", timeElapsed);\n\n    context.flow.set(\"timestamp\", date.getTime());\n    msg.payload = timeElapsed;\n    var msg_out_2 = {};\n    return [msg, msg_out_2];\n    \n}\n\ncontext.flow.set(\"ResponseTime\", timeElapsed);\n\ncontext.flow.set(\"timestamp\", date.getTime());\nmsg.payload = timeElapsed;\nmsg.topic = \"ResponseTimeMvgAvg\";\nreturn [msg, null];", "outputs": 2, "noerr": 0, "x": 1520, "y": 2540, "wires": [["5543cf66.c72ba8", "9d3857b4.a3a72"], ["95c62ca4.9097f8"]]}, {"id": "f23c2e8f.c112f", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1330, "y": 2480, "wires": []}, {"id": "9d3857b4.a3a72", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1710, "y": 2340, "wires": []}, {"id": "a2d0442e.c3b158", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var msg_out = {};\nvar payload = {};\n//payload.x = msg.result.count;\npayload.x = context.flow.get(\"Cycle\");\npayload.y = msg.payload;\npayload.y_out = \"\";\nmsg_out.payload = payload;\nreturn msg_out;", "outputs": 1, "noerr": 0, "x": 2100, "y": 2420, "wires": [["95c62ca4.9097f8", "deaca8d7.b5846"]]}, {"id": "67e92151.ed84b8", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 2530, "y": 2480, "wires": []}, {"id": "deaca8d7.b5846", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 2330, "y": 2460, "wires": []}, {"id": "4f700a47.b1503c", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var responseTimePred = [];\nfor(var k = 1; k <= 10; k++){\n    var futurePrediction = msg.function.equation[0]*Math.pow((msg.payload.x + k), 2) + msg.function.equation[1]*(msg.payload.x + k) + msg.function.equation[2];\n    msg.payload.futurePrediction = futurePrediction;\n    responseTimePred.push(futurePrediction);\n}\n//responseTimePred.pop();\n//responseTimePred.unshift(futurePrediction);\ncontext.flow.set(\"ResponseTimePred\", responseTimePred);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 2620, "y": 2540, "wires": [["e3a6732e.ca9c5"]]}, {"id": "e3a6732e.ca9c5", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 2790, "y": 2480, "wires": []}, {"id": "b84f2e00.9385c8", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 430, "y": 2620, "wires": []}, {"id": "6d18c370.e424fc", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1730, "y": 2674, "wires": []}, {"id": "b6935d1d.70c508", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var cycle = context.flow.get(\"Cycle\");\nif(cycle < 40){\n    var calculatedDelay = context.flow.get(\"calculatedDelay\") || 0;\n    msg.topic = \"control\";\n    msg.payload = ((msg.delay)/1000) - 1;\n    calculatedDelay = Math.round(((msg.delay)/1000) - 1);\n    context.flow.set(\"calculatedDelay\", calculatedDelay);\n    return msg;\n} else return null;\n", "outputs": 1, "noerr": 0, "x": 1340, "y": 2674, "wires": [["cc4c0f0b.0473a8"]]}, {"id": "9233e59a.9662b", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var date = new Date();\nvar startCycle = context.flow.get(\"startCycleTs\");\ncontext.flow.set(\"ResponseTime\", date.getTime() - startCycle);\nlet calculatedDelay = context.flow.get(\"calculatedDelay\");\nif(calculatedDelay >= msg.payload ){\n    context.flow.set(\"CylinderStatus\", \"undefined\");\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1750, "y": 2774, "wires": [[]]}, {"id": "6b5bce5c.8f7818", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "msg.topic = \"control\";\nmsg.payload = 60;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 280, "y": 2714, "wires": [["fbec0d31.b2b898"]]}, {"id": "151fde71.ad247a", "type": "unsafe-function", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "func": "var date = new Date();\ncontext.flow.set(\"timestamp\", date.getTime());\nreturn msg;", "outputs": 1, "noerr": 0, "x": 740, "y": 2734, "wires": [[]]}, {"id": "ce77388f.a7693", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1090, "y": 2654, "wires": []}, {"id": "5fe0925e.2b993c", "type": "debug", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "x": 1090, "y": 2694, "wires": []}, {"id": "18abfa8d.7a70a5", "type": "countdown", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "topic": "", "payloadTimerStart": "", "payloadTimerStartType": "nul", "payloadTimerStop": "event", "payloadTimerStopType": "msg", "timer": "10", "resetWhileRunning": false, "setTimeToNewWhileRunning": false, "startCountdownOnControlMessage": false, "x": 870, "y": 2634, "wires": [["be9595d8.2df6a8", "ce77388f.a7693"], ["5fe0925e.2b993c"]]}, {"id": "cc4c0f0b.0473a8", "type": "countdown", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "topic": "", "payloadTimerStart": "", "payloadTimerStartType": "nul", "payloadTimerStop": "", "payloadTimerStopType": "nul", "timer": "10", "resetWhileRunning": false, "setTimeToNewWhileRunning": true, "startCountdownOnControlMessage": true, "x": 1530, "y": 2674, "wires": [[], ["6d18c370.e424fc", "9233e59a.9662b"]]}, {"id": "fbec0d31.b2b898", "type": "countdown", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "topic": "", "payloadTimerStart": "", "payloadTimerStartType": "nul", "payloadTimerStop": "", "payloadTimerStopType": "nul", "timer": "10", "resetWhileRunning": false, "setTimeToNewWhileRunning": true, "startCountdownOnControlMessage": true, "x": 490, "y": 2714, "wires": [[], ["151fde71.ad247a"]]}, {"id": "95c62ca4.9097f8", "type": "regression", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "dataSetSize": "15", "regressionType": "polynomial", "polynomialOrder": 2, "precision": "2", "xInputField": "payload.x", "xInputFieldType": "msg", "yInputField": "payload.y", "yInputFieldType": "msg", "yOutputField": "payload.y_out", "yOutputFieldType": "msg", "functionOutputField": "function", "functionOutputFieldType": "msg", "resultOnly": false, "x": 2390, "y": 2540, "wires": [["67e92151.ed84b8", "4f700a47.b1503c"]]}, {"id": "48dd5be3.c049ac", "type": "cronplus", "z": "128ab3134a54f6b4", "g": "b3fca1f0.1e5ef8", "name": "", "outputField": "payload", "timeZone": "", "persistDynamic": false, "commandResponseMsgOutput": "output1", "outputs": 1, "options": [{"name": "schedule1", "topic": "schedule1", "payloadType": "default", "payload": "", "expressionType": "cron", "expression": "0 * * * * *", "location": "", "offset": "0", "solarType": "all", "solarEvents": "sunrise,sunset"}], "x": 120, "y": 2620, "wires": [["50caec1c.6ad584", "b84f2e00.9385c8", "6b5bce5c.8f7818"]]}, {"id": "d71c20e4c91d2c13", "type": "link in", "z": "128ab3134a54f6b4", "name": "driver.connection.check", "links": [], "x": 780, "y": 2200, "wires": [["4f1ed87887f71afd"]], "l": true}, {"id": "ab057144cf917fb8", "type": "link out", "z": "128ab3134a54f6b4", "name": "driver.connection.check out", "mode": "return", "links": [], "x": 2165, "y": 2200, "wires": []}, {"id": "d57f305ac53e4d3f", "type": "link call", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1260, "y": 160, "wires": [[]]}, {"id": "f8b354e5d9771dda", "type": "function", "z": "128ab3134a54f6b4", "g": "6aa9beecbf5f8d23", "name": "call Southbound Interface Reset Subscriptions", "func": "msg.target = \"southbound.resetSebscriptions\";\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 960, "y": 160, "wires": [["d57f305ac53e4d3f"]]}, {"id": "233985a03f7af2aa", "type": "link in", "z": "128ab3134a54f6b4", "name": "metrics", "links": ["2779d6b6a0f7b1cc", "38b37541ec9d7086", "5df3fe8b89186d53", "77b206c3d0825bf2", "cd39ec5da0b7b743", "ebeaa83d4abb8b92", "f3137293845d295d"], "x": 730, "y": 2080, "wires": [["568d6b198e562bcd"]], "l": true}, {"id": "50f874d57977fcf9", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.metrics", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1780, "y": 2060, "wires": [["ddd6397bb839158d"]]}, {"id": "ddd6397bb839158d", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2160, "y": 2060, "wires": [[]]}, {"id": "29ec53ca67775119", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 440, "wires": [["ec7c63534947cebb"]]}, {"id": "ec7c63534947cebb", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 440, "wires": [[]]}, {"id": "3effae4003a3cd14", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 610, "y": 400, "wires": []}, {"id": "118b72141e8280b0", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 480, "wires": [["2f81e031d1ef7f06"]]}, {"id": "2f81e031d1ef7f06", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 480, "wires": [[]]}, {"id": "48dfda9c64478ddf", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 590, "y": 600, "wires": [["2779d6b6a0f7b1cc"], ["50dd7f4e601d4c53", "e10fcbd36a6f981f"]]}, {"id": "2779d6b6a0f7b1cc", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 900, "y": 540, "wires": [], "l": true}, {"id": "50dd7f4e601d4c53", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 890, "y": 580, "wires": [["9b50c73579f7cb8d"]]}, {"id": "e10fcbd36a6f981f", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 890, "y": 620, "wires": []}, {"id": "9b50c73579f7cb8d", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1080, "y": 580, "wires": [["ffea66bc936a375e"]]}, {"id": "ffea66bc936a375e", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1240, "y": 580, "wires": [[]]}, {"id": "bbabab10659015eb", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 440, "wires": [["f5ab2638ebd6c0e4"]]}, {"id": "f5ab2638ebd6c0e4", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 440, "wires": [[]]}, {"id": "cc76437a38d1e3ec", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2170, "y": 400, "wires": []}, {"id": "8eb2a8dd31d2f511", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 480, "wires": [["57537a688aa42a5b"]]}, {"id": "57537a688aa42a5b", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 480, "wires": [[]]}, {"id": "c0db113d9e1e2270", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 2150, "y": 600, "wires": [["38b37541ec9d7086"], ["4fb8e544c02e4d27", "629d78b0ca09f9f3"]]}, {"id": "38b37541ec9d7086", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2460, "y": 540, "wires": [], "l": true}, {"id": "4fb8e544c02e4d27", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2450, "y": 580, "wires": [["6a339d4c2d3467f5"]]}, {"id": "629d78b0ca09f9f3", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2450, "y": 620, "wires": []}, {"id": "6a339d4c2d3467f5", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2640, "y": 580, "wires": [["e3108f3ca05db687"]]}, {"id": "e3108f3ca05db687", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2800, "y": 580, "wires": [[]]}, {"id": "da7095029cc0ccab", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 810, "y": 760, "wires": [["25d8a329f2986fea"]]}, {"id": "25d8a329f2986fea", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1210, "y": 760, "wires": [[]]}, {"id": "20597d7e1260542e", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 670, "y": 720, "wires": []}, {"id": "5a01e77e3d78c938", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 810, "y": 800, "wires": [["a1ab50e81e2fa511"]]}, {"id": "a1ab50e81e2fa511", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1210, "y": 800, "wires": [[]]}, {"id": "b491db8a651d4a0f", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 650, "y": 920, "wires": [["5df3fe8b89186d53"], ["90f3b711b8534093", "1c2779e2889cab11"]]}, {"id": "5df3fe8b89186d53", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 960, "y": 860, "wires": [], "l": true}, {"id": "90f3b711b8534093", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 950, "y": 900, "wires": [["58089f0739dba590"]]}, {"id": "1c2779e2889cab11", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 950, "y": 940, "wires": []}, {"id": "58089f0739dba590", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1140, "y": 900, "wires": [["ca66ce47c44b1791"]]}, {"id": "ca66ce47c44b1791", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1300, "y": 900, "wires": [[]]}, {"id": "27f4b818b58b63dd", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 740, "wires": [["1b0f1b5cb45d971b"]]}, {"id": "1b0f1b5cb45d971b", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 740, "wires": [[]]}, {"id": "746ba16723454414", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2170, "y": 700, "wires": []}, {"id": "d4a45cfb161206c5", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 780, "wires": [["9ab589cf1eaf94ac"]]}, {"id": "9ab589cf1eaf94ac", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 780, "wires": [[]]}, {"id": "07303b823ff47983", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 2150, "y": 900, "wires": [["77b206c3d0825bf2"], ["60edf578ba856de7", "583591e1be7c058f"]]}, {"id": "77b206c3d0825bf2", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2460, "y": 840, "wires": [], "l": true}, {"id": "60edf578ba856de7", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2450, "y": 880, "wires": [["85888717b2db33cf"]]}, {"id": "583591e1be7c058f", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2450, "y": 920, "wires": []}, {"id": "85888717b2db33cf", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2640, "y": 880, "wires": [["735351e4b754167b"]]}, {"id": "735351e4b754167b", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2800, "y": 880, "wires": [[]]}, {"id": "8e055deeab749f7d", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 830, "y": 1100, "wires": [["5c0eb4470a3a4af6"]]}, {"id": "5c0eb4470a3a4af6", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1230, "y": 1100, "wires": [[]]}, {"id": "95ce6b5d4211fb30", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 690, "y": 1060, "wires": []}, {"id": "d7c5763300ee1c18", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 830, "y": 1140, "wires": [["3e6324219cf42b59"]]}, {"id": "3e6324219cf42b59", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1230, "y": 1140, "wires": [[]]}, {"id": "cef26f1eb9a9513c", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 670, "y": 1260, "wires": [["cd39ec5da0b7b743"], ["8999bf64a02f6f3b", "602d3ec8f0ba2186"]]}, {"id": "cd39ec5da0b7b743", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 980, "y": 1200, "wires": [], "l": true}, {"id": "8999bf64a02f6f3b", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 970, "y": 1240, "wires": [["fee4041cbb4992cc"]]}, {"id": "602d3ec8f0ba2186", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 970, "y": 1280, "wires": []}, {"id": "fee4041cbb4992cc", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1160, "y": 1240, "wires": [["d2deb221e8e1a128"]]}, {"id": "d2deb221e8e1a128", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1320, "y": 1240, "wires": [[]]}, {"id": "41b601595418d500", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2390, "y": 1100, "wires": [["462f0661cf2a1f65"]]}, {"id": "462f0661cf2a1f65", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2790, "y": 1100, "wires": [[]]}, {"id": "52db305aa252b6c0", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2250, "y": 1060, "wires": []}, {"id": "887defc1180ab1c3", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2390, "y": 1140, "wires": [["6dd5dfd656eb78d8"]]}, {"id": "6dd5dfd656eb78d8", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2790, "y": 1140, "wires": [[]]}, {"id": "3ae8d72f54ecd7f6", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 2230, "y": 1260, "wires": [["ebeaa83d4abb8b92"], ["b9972982a73d8106", "bdaee13379619563"]]}, {"id": "ebeaa83d4abb8b92", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2540, "y": 1200, "wires": [], "l": true}, {"id": "b9972982a73d8106", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2530, "y": 1240, "wires": [["96e2eb1a084ddcd0"]]}, {"id": "bdaee13379619563", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2530, "y": 1280, "wires": []}, {"id": "96e2eb1a084ddcd0", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2720, "y": 1240, "wires": [["7e60ffa3f926746c"]]}, {"id": "7e60ffa3f926746c", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2880, "y": 1240, "wires": [[]]}, {"id": "18af432b201cbcaf", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 830, "y": 1480, "wires": [["d39c755b417a9452"]]}, {"id": "d39c755b417a9452", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1230, "y": 1480, "wires": [[]]}, {"id": "6cbe049bdcebf52f", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 690, "y": 1440, "wires": []}, {"id": "7b490650b12ef66f", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 830, "y": 1520, "wires": [["15b1f7b5049e59a7"]]}, {"id": "15b1f7b5049e59a7", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1230, "y": 1520, "wires": [[]]}, {"id": "ed72f9609b049b2d", "type": "msg-router", "z": "128ab3134a54f6b4", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 2, "x": 670, "y": 1640, "wires": [["f3137293845d295d"], ["2c608b98026620d7", "65af1cca6453869d"]]}, {"id": "f3137293845d295d", "type": "link out", "z": "128ab3134a54f6b4", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 980, "y": 1580, "wires": [], "l": true}, {"id": "2c608b98026620d7", "type": "json", "z": "128ab3134a54f6b4", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 970, "y": 1620, "wires": [["99f22a64d9b30e28"]]}, {"id": "65af1cca6453869d", "type": "debug", "z": "128ab3134a54f6b4", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 970, "y": 1660, "wires": []}, {"id": "99f22a64d9b30e28", "type": "change", "z": "128ab3134a54f6b4", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1160, "y": 1620, "wires": [["d538efaa004f908b"]]}, {"id": "d538efaa004f908b", "type": "link call", "z": "128ab3134a54f6b4", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1320, "y": 1620, "wires": [[]]}]