v2/prosys_flow_todo_v2.json
[{"id": "41b3a1439ccec2c1", "type": "subflow", "name": "Property handler", "info": "", "category": "", "in": [{"x": 260, "y": 520, "wires": [{"id": "95ca925e8f8cf880"}]}], "out": [{"x": 1880, "y": 500, "wires": [{"id": "1274c1fecaa655a8", "port": 0}, {"id": "78d0225e0b3a8fe6", "port": 0}]}, {"x": 1880, "y": 800, "wires": [{"id": "e62907e7bcbce663", "port": 0}]}, {"x": 1880, "y": 860, "wires": [{"id": "f02316f50a016d5d", "port": 0}]}], "env": [{"name": "PropertyName", "type": "str", "value": ""}, {"name": "PropertyLink", "type": "str", "value": ""}, {"name": "HistoryLength", "type": "num", "value": ""}, {"name": "PropertyLinkEvt", "type": "str", "value": ""}], "meta": {}, "color": "#DDAA99", "status": {"x": 1740, "y": 700, "wires": [{"id": "5f9633884f5e4cd4", "port": 0}]}}, {"id": "127270a25c3d8888", "type": "switch", "z": "41b3a1439ccec2c1", "name": "topic", "property": "topic", "propertyType": "msg", "rules": [{"t": "eq", "v": "observe", "vt": "str"}, {"t": "eq", "v": "unobserve", "vt": "str"}, {"t": "eq", "v": "init", "vt": "str"}], "checkall": "false", "repair": false, "outputs": 3, "x": 890, "y": 500, "wires": [["1274c1fecaa655a8", "2cd93262147d3143"], ["0f6603d9f95134b3", "78d0225e0b3a8fe6"], ["0f6603d9f95134b3"]]}, {"id": "1274c1fecaa655a8", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "PrepareOutput", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\n//observation.source = msg.source;\nobservation.direction = \"Output\";\n\nvar observableReference = \"\";\n\n//var observedKeys = msg.payload.observed.keys;\n/*for(var key in observedKeys){\n    if(parseInt(key) < 2){\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow Created\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\ncontext.flow.set('ObsObj', observation);\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\nmsg.payload = observation;\nreturn msg;\n\n\n", "outputs": 1, "noerr": 0, "x": 1175, "y": 500, "wires": [[]], "l": false}, {"id": "2cd93262147d3143", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "msg.topic = \"control\";\nmsg.payload = \"open\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1175, "y": 540, "wires": [["f894203f2fd3ac35", "5f9633884f5e4cd4"]], "l": false}, {"id": "f894203f2fd3ac35", "type": "gate", "z": "41b3a1439ccec2c1", "name": "", "controlTopic": "control", "defaultState": "closed", "openCmd": "open", "closeCmd": "close", "toggleCmd": "toggle", "defaultCmd": "default", "persist": false, "x": 1490, "y": 800, "wires": [["e62907e7bcbce663"]]}, {"id": "e62907e7bcbce663", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n});\nvar outMsg = {};\nvar ObsObj = context.flow.get('ObsObj');\nObsObj.id = uuid;\nvar timestamp = context.flow.get(\"$parent.timestamp\");\nif (typeof timestamp == 'undefined') {\n    timestamp = new Date().getTime();\n    ObsObj.timestamp = timestamp;\n}\nelse {\n    ObsObj.timestamp = timestamp;\n}\nObsObj.payload = context.flow.get(\"variable\");\noutMsg.payload = ObsObj;\nreturn outMsg;", "outputs": 1, "noerr": 0, "x": 1635, "y": 800, "wires": [[]], "l": false}, {"id": "0f6603d9f95134b3", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "msg.topic = \"control\";\nmsg.payload = \"close\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1175, "y": 660, "wires": [["f894203f2fd3ac35", "5f9633884f5e4cd4"]], "l": false}, {"id": "78d0225e0b3a8fe6", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "PrepareOutput", "func": "var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Create an Observation Event Object ------------------------------------\nvar observation = {};\nobservation.id = uuid;\nobservation.source = msg.source;\nobservation.direction = \"Output\";\nvar observableReference = \"\";\n\n/*var observedKeys = msg.payload.observed.keys;\nfor (var key in observedKeys) {\n    if (parseInt(key) < 2) {\n        observableReference = observableReference + observedKeys[key].value + \"/\";\n    } else if (parseInt(key) >= 2 && parseInt(key) < (observedKeys.length - 1)) {\n        observableReference = observableReference + observedKeys[key].value + \".\";\n    } else {\n        observableReference = observableReference + observedKeys[key].value;\n    }\n}*/\n\nobservableReference = env.get(\"PropertyLink\");\n\nobservation.observableReference = observableReference;\n//observation.source = msg.req.params.aasid + \"/\" + msg.req.params.submodelId + \"/\" + msg.req.params.id;\nobservation.source = env.get(\"PropertyLinkEvt\");\n\nif(context.flow.get(\"timestamp\")){\n    observation.timestamp = context.flow.get(\"timestamp\");\n} else{\n    observation.timestamp = new Date().getTime();\n}\nobservation.payload = \"Data Flow removed\";\n//observation.href = msg.href;\n// END Create an Observation Object --------------------------------\n//outputMsgs.push(observation);\n\n//msg.payload = outputMsgs;\n//msg.payload = JSON.stringify(observation);\n//msg.test = JSON.parse(msg.payload);\ncontext.flow.set(\"ObsObj\", \"\");\nmsg.payload = observation;\nreturn msg;\n\n\n", "outputs": 1, "noerr": 0, "x": 1175, "y": 600, "wires": [[]], "l": false}, {"id": "96b701c2b50dc6f7", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "var propertyName = env.get(\"PropertyName\");\nvar Outmsg = {};\nOutmsg.topic = msg.topic;\nvar variable = context.flow.get(\"$parent.\" + propertyName);\ncontext.flow.set(\"variable\", variable);\n\nOutmsg.payload = variable;\nreturn Outmsg;\n", "outputs": 1, "noerr": 0, "x": 875, "y": 800, "wires": [["f894203f2fd3ac35", "f02316f50a016d5d"]], "l": false}, {"id": "f02316f50a016d5d", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "responseTime", "func": "var historyArrayName = \"$parent.\" + env.get(\"PropertyName\") + \"_hist\";\nvar outMsg = {};\noutMsg.topic = \"put\";\nvar timestamp = context.flow.get(\"$parent.timestamp\");\nif (typeof timestamp == \"undefined\") {\n    timestamp = new Date().getTime();\n}\noutMsg.payload = {\n    link: env.get(\"PropertyLink\"),\n    tstamp: timestamp,\n    data: context.flow.get(\"variable\")\n};\nlet history = context.flow.get(historyArrayName) || [];\nif (history.length >= env.get(\"HistoryLength\")) {\n    history.pop();\n}\nhistory.push(outMsg.payload);\ncontext.flow.set(historyArrayName, history);\nreturn outMsg;", "outputs": 1, "noerr": 0, "x": 1075, "y": 860, "wires": [[]], "l": false}, {"id": "95ca925e8f8cf880", "type": "switch", "z": "41b3a1439ccec2c1", "name": "scheduler", "property": "topic", "propertyType": "msg", "rules": [{"t": "neq", "v": "sbi scheduling data routing", "vt": "str"}, {"t": "else"}], "checkall": "false", "repair": false, "outputs": 2, "x": 440, "y": 520, "wires": [["127270a25c3d8888"], ["96b701c2b50dc6f7"]]}, {"id": "5f9633884f5e4cd4", "type": "unsafe-function", "z": "41b3a1439ccec2c1", "name": "", "func": "if(msg.payload == \"open\"){\n    msg.payload = ({ fill: \"green\", text: \"Open\" });\n} else if (msg.payload == \"close\"){\n    msg.payload = ({ fill: \"red\", text: \"Closed\" });\n}\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1535, "y": 700, "wires": [[]], "l": false}, {"id": "0f7b0349d3beda52", "type": "tab", "label": "PROSYS/OperationalData", "disabled": false, "info": ""}, {"id": "96315c43b31f65cf", "type": "group", "z": "0f7b0349d3beda52", "name": "Set-up", "style": {"fill": "#e3f3d3", "fill-opacity": "0.4", "label": true}, "nodes": ["fc47632397101388", "a237e88477c641c7", "418a8fee993d943b", "b182ca465598b238", "d57f305ac53e4d3f", "f8b354e5d9771dda", "41d1269376597f69"], "x": 134, "y": 59, "w": 1322, "h": 182}, {"id": "613b3238c3da875c", "type": "group", "z": "0f7b0349d3beda52", "name": "Connecting to the PROSYS OPC UA Simulation Server", "style": {"label": true}, "nodes": ["0219f19f63f4f26f", "c5d7a12e40e47c82", "e5fe72a24bd5ae50", "8ef5f8cc321269ee", "df6163485b0944cc", "a6e34c38b88bf493", "5edb132f331ef30c", "48f320da208f2f2e", "a0e19bb3f6b13c57"], "x": 1094, "y": 2259, "w": 1052, "h": 382}, {"id": "fc47632397101388", "type": "inject", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}, {"p": "initScheduling", "v": "* * * * * * *", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 250, "y": 100, "wires": [["a237e88477c641c7", "f8b354e5d9771dda"]]}, {"id": "a237e88477c641c7", "type": "unsafe-function", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "Initialize Context", "func": "context.flow.set(\"Counter\", {});\ncontext.flow.set(\"RandomNumber\", {});\ncontext.flow.set(\"Sawtooth\", {});\ncontext.flow.set(\"Sinusoid\", {});\ncontext.flow.set(\"Square\", {});\ncontext.flow.set(\"Triangle\", {});\n\ncontext.flow.set(\"NrOfDataSources\", 6);\ncontext.flow.set(\"connected\", false);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1340, "y": 100, "wires": [[]]}, {"id": "6ac75c165eecc2f5", "type": "msg-speed", "z": "0f7b0349d3beda52", "name": "", "frequency": "min", "interval": 1, "estimation": false, "ignore": false, "x": 1450, "y": 1780, "wires": [["71d8a633c199bd75"], []]}, {"id": "71d8a633c199bd75", "type": "unsafe-function", "z": "0f7b0349d3beda52", "name": "stats", "func": "var statsSBI = {};\nvar msgSpeed = msg.payload;\nvar msgIntervalAndFrequency = msg.intervalAndFrequency;\nstatsSBI.msgSpeed = msgSpeed;\nstatsSBI.IntervalAndFrequency = msgIntervalAndFrequency;\nstatsSBI.maxMsgs = context.flow.get(\"NrOfDataSources\") * 60;\nmsg.payload = statsSBI;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1710, "y": 1760, "wires": [["50f874d57977fcf9"]]}, {"id": "e206b8f688cd4881", "type": "unsafe-function", "z": "0f7b0349d3beda52", "name": "statusNotification", "func": "var statusCheck  = {};\nstatusCheck.connected = context.flow.get(\"connected\");\nstatusCheck.nrOfDataSources = context.flow.get(\"NrOfDataSources\");\nmsg.payload = {\"statusCheck\": statusCheck};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1670, "y": 1920, "wires": [["ab057144cf917fb8"]]}, {"id": "418a8fee993d943b", "type": "inject", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "Event Trigger", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "1", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "sbi scheduling data routing", "payload": "", "payloadType": "date", "x": 260, "y": 200, "wires": [["41d1269376597f69"]]}, {"id": "b182ca465598b238", "type": "link out", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "trigger_out", "mode": "link", "links": ["41e059c8d94a63cc", "8a8bd8d4730f2f7c", "93e9699e28f149cb", "b6f39f6209b89a0e", "bf2e6967647c0948", "f38a1f564d927436"], "x": 1360, "y": 200, "wires": [], "l": true}, {"id": "bf2e6967647c0948", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_1", "links": ["b182ca465598b238"], "x": 185, "y": 480, "wires": [["dd9cd9d161f8ab59"]]}, {"id": "b6f39f6209b89a0e", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_2", "links": ["b182ca465598b238"], "x": 1725, "y": 480, "wires": [["3d6f2f48b2c7fb1f"]]}, {"id": "93e9699e28f149cb", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_3", "links": ["b182ca465598b238"], "x": 85, "y": 820, "wires": [["4a30b7ad9a5827ca"]]}, {"id": "41e059c8d94a63cc", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_5", "links": ["b182ca465598b238"], "x": 75, "y": 1180, "wires": [["f1ab64103319176c"]]}, {"id": "df9c88940979b9ca", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 170, "y": 1240, "wires": [["f1ab64103319176c"]]}, {"id": "0c3dd5d2b1ee1b9a", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 160, "y": 1280, "wires": [["f1ab64103319176c"]]}, {"id": "78b560a8b4c56635", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 170, "y": 880, "wires": [["4a30b7ad9a5827ca"]]}, {"id": "879e945c845e97f4", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 160, "y": 920, "wires": [["4a30b7ad9a5827ca"]]}, {"id": "44d4bfd5e0c660b1", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 170, "y": 540, "wires": [["dd9cd9d161f8ab59"]]}, {"id": "a76101b0de12c833", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 160, "y": 580, "wires": [["dd9cd9d161f8ab59"]]}, {"id": "c8484d4ca68ba0f4", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1730, "y": 540, "wires": [["3d6f2f48b2c7fb1f"]]}, {"id": "4d706fcfb45545e8", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1720, "y": 580, "wires": [["3d6f2f48b2c7fb1f"]]}, {"id": "41cf44cb82615f37", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 180, "y": 620, "wires": [["dd9cd9d161f8ab59"]]}, {"id": "ee712e493104792d", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 180, "y": 960, "wires": [["4a30b7ad9a5827ca"]]}, {"id": "c0316c4b91a7d170", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 180, "y": 1320, "wires": [["f1ab64103319176c"]]}, {"id": "bc97c88dcc3693ca", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1740, "y": 620, "wires": [["3d6f2f48b2c7fb1f"]]}, {"id": "dd9cd9d161f8ab59", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 1", "x": 350, "y": 480, "wires": [["b217cde33d769d5b", "bd3a318325ffc348"], ["72351f8377641605"], ["a8f0e7ebfa2bc2f1"]], "env": [{"name": "PropertyName", "type": "str", "value": "Counter"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/Counter"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/CounterEvt"}]}, {"id": "3d6f2f48b2c7fb1f", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 2", "x": 1910, "y": 480, "wires": [["d1441a64c7115c62", "4ce66a16a0ebf3ac"], ["7f1c45e5129171e5"], ["81bf09c7d2ddeef1"]], "env": [{"name": "PropertyName", "type": "str", "value": "RandomNumber"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/RandomNumber"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/RandomNumberEvt"}]}, {"id": "4a30b7ad9a5827ca", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 3", "x": 350, "y": 820, "wires": [["1887709fc6528b54", "ae6b073d19188b97"], ["c5c1edce836d86be"], ["c812ebf9e540a1fe"]], "env": [{"name": "PropertyName", "type": "str", "value": "Sawtooth"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/Sawtooth"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/SawtoothEvt"}]}, {"id": "f1ab64103319176c", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 5", "x": 370, "y": 1180, "wires": [["b888faeda674c7f7", "daffd20fa74cf223"], ["b24326ed868cadaf"], ["635b0abe09fce32e"]], "env": [{"name": "PropertyName", "type": "str", "value": "Sinusoid"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/Sinusoid"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/SinusoidEvt"}]}, {"id": "8a8bd8d4730f2f7c", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_4", "links": ["b182ca465598b238"], "x": 1705, "y": 820, "wires": [["7408be4a2da5ba2e"]]}, {"id": "d18284326d2ca817", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1730, "y": 880, "wires": [["7408be4a2da5ba2e"]]}, {"id": "675a841d8fe31655", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1720, "y": 920, "wires": [["7408be4a2da5ba2e"]]}, {"id": "9dab0d55fd3df6e9", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1740, "y": 960, "wires": [["7408be4a2da5ba2e"]]}, {"id": "7408be4a2da5ba2e", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 4", "x": 1910, "y": 820, "wires": [["c2cb1200b33636b6", "59a0e1fc3427af1d"], ["e7b0e29654c97b11"], ["d1a0eed909781186"]], "env": [{"name": "PropertyName", "type": "str", "value": "Square"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/Square"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/SquareEvt"}]}, {"id": "f38a1f564d927436", "type": "link in", "z": "0f7b0349d3beda52", "name": "trigger_in_6", "links": ["b182ca465598b238"], "x": 1685, "y": 1180, "wires": [["825f2b219a9f560e"]]}, {"id": "bbd7abf0cf71f201", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "observe", "payload": "", "payloadType": "date", "x": 1710, "y": 1240, "wires": [["825f2b219a9f560e"]]}, {"id": "056b87cb29c21c9c", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "unobserve", "payload": "", "payloadType": "date", "x": 1700, "y": 1280, "wires": [["825f2b219a9f560e"]]}, {"id": "8a4d2d1665813a11", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "init", "payload": "", "payloadType": "date", "x": 1720, "y": 1320, "wires": [["825f2b219a9f560e"]]}, {"id": "825f2b219a9f560e", "type": "subflow:41b3a1439ccec2c1", "z": "0f7b0349d3beda52", "name": "Property 6", "x": 1890, "y": 1180, "wires": [["c738c3a954f311a0", "1699831229b4ece7"], ["89f3f17962032563"], ["4d10d66ba453060b"]], "env": [{"name": "PropertyName", "type": "str", "value": "Triangle"}, {"name": "PropertyLink", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/Triangle"}, {"name": "HistoryLength", "type": "num", "value": "14400"}, {"name": "PropertyLinkEvt", "type": "str", "value": "https://example.prosys.com/ids/aas/9574_3103_7012_8644/OperationalData/TriangleEvt"}]}, {"id": "ea93def97e5fee32", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2270, "y": 2020, "wires": []}, {"id": "672dec7f39305d91", "type": "exec", "z": "0f7b0349d3beda52", "command": "nc", "addpay": "payload", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 1660, "y": 2060, "wires": [[], ["87200b9ca4c0be2f"], []]}, {"id": "da173bf2e9192732", "type": "inject", "z": "0f7b0349d3beda52", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "3", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payloadType": "date", "x": 1310, "y": 2060, "wires": [["87b0c569f98ffd45"]]}, {"id": "87200b9ca4c0be2f", "type": "function", "z": "0f7b0349d3beda52", "name": "", "func": "if(msg.payload.includes(\"succeeded\")){\n    context.flow.set(\"connected\", true);\n    return msg;\n}\nelse {\n    context.flow.set(\"connected\", false);\n    return msg;\n}", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 2040, "y": 2060, "wires": [["ea93def97e5fee32"]]}, {"id": "87b0c569f98ffd45", "type": "function", "z": "0f7b0349d3beda52", "name": "", "func": "let opcuaEndpoint = env.get(\"PROSYS_OPCUA_SERVICE\");\nlet opcuaEndpointManipulation1 = opcuaEndpoint.split(\"/\");\nlet opcuaEndpointManipulation2 = opcuaEndpointManipulation1[2].split(\":\")\nmsg.host = opcuaEndpointManipulation2[0];\nmsg.port = opcuaEndpointManipulation2[1];\n\nmsg.payload = \"-vz \" + msg.host + \" \" + msg.port;\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1480, "y": 2060, "wires": [["672dec7f39305d91"]]}, {"id": "282aaa4af0c087b6", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2450, "y": 2300, "wires": []}, {"id": "4ad2b1c38bc91ec8", "type": "function", "z": "0f7b0349d3beda52", "name": "", "func": "if(msg.topic.includes(\"1001\")){\n    context.flow.set(\"Counter\", msg.payload);\n} else if(msg.topic.includes(\"1002\")){\n     context.flow.set(\"RandomNumber\", msg.payload);\n} else if(msg.topic.includes(\"1003\")){\n    context.flow.set(\"Sawtooth\", msg.payload);\n} else if(msg.topic.includes(\"1004\")){\n    context.flow.set(\"Sinusoid\", msg.payload);\n} else if(msg.topic.includes(\"1005\")){\n    context.flow.set(\"Square\", msg.payload);\n}else if(msg.topic.includes(\"1006\")){\n    context.flow.set(\"Triangle\", msg.payload);\n}\nvar date = new Date();\ncontext.flow.set(\"timestamp\", date.getTime());\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.flow.set(\"Counter\", 0.0);\ncontext.flow.set(\"RandomNumber\", 0.0);\ncontext.flow.set(\"Sawtooth\", 0.0);\ncontext.flow.set(\"Sinusoid\", 0.0);\ncontext.flow.set(\"Square\", 0.0);\ncontext.flow.set(\"Triangle\", 0.0);", "finalize": "", "libs": [], "x": 2260, "y": 2300, "wires": [["282aaa4af0c087b6"]]}, {"id": "0219f19f63f4f26f", "type": "OpcUa-Client", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "endpoint": "e6f59bf0e0057665", "action": "read", "deadbandtype": "a", "deadbandvalue": 1, "time": 10, "timeUnit": "s", "certificate": "n", "localfile": "", "localkeyfile": "", "securitymode": "None", "securitypolicy": "None", "name": "", "x": 2040, "y": 2300, "wires": [["4ad2b1c38bc91ec8", "96f4267e8e774efd"]]}, {"id": "c5d7a12e40e47c82", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1001;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2300, "wires": [["0219f19f63f4f26f"]]}, {"id": "e5fe72a24bd5ae50", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1002;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2360, "wires": [["0219f19f63f4f26f"]]}, {"id": "8ef5f8cc321269ee", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1003;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2420, "wires": [["0219f19f63f4f26f"]]}, {"id": "df6163485b0944cc", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1004;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2480, "wires": [["0219f19f63f4f26f"]]}, {"id": "a6e34c38b88bf493", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1005;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2540, "wires": [["0219f19f63f4f26f"]]}, {"id": "5edb132f331ef30c", "type": "OpcUa-Item", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "item": "ns=3;i=1006;datatype=double", "datatype": "Double", "value": "", "name": "", "x": 1780, "y": 2600, "wires": [["0219f19f63f4f26f"]]}, {"id": "48f320da208f2f2e", "type": "inject", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "name": "", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "0.5", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payloadType": "date", "x": 1210, "y": 2300, "wires": [["a0e19bb3f6b13c57"]]}, {"id": "a0e19bb3f6b13c57", "type": "function", "z": "0f7b0349d3beda52", "g": "613b3238c3da875c", "name": "", "func": "let status = context.flow.get(\"status\");\nif(status){\n    return msg;\n} else {\n    return null;\n}", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1460, "y": 2300, "wires": [["c5d7a12e40e47c82", "e5fe72a24bd5ae50", "8ef5f8cc321269ee", "df6163485b0944cc", "a6e34c38b88bf493", "5edb132f331ef30c"]]}, {"id": "f8b354e5d9771dda", "type": "function", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "call Southbound Interface Reset Subscriptions", "func": "msg.target = \"southbound.resetSebscriptions\";\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1040, "y": 160, "wires": [["d57f305ac53e4d3f"]]}, {"id": "d57f305ac53e4d3f", "type": "link call", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1360, "y": 160, "wires": [[]]}, {"id": "233985a03f7af2aa", "type": "link in", "z": "0f7b0349d3beda52", "name": "metrics", "links": ["f3137293845d295d", "38b37541ec9d7086", "cd39ec5da0b7b743", "2779d6b6a0f7b1cc", "77b206c3d0825bf2", "ebeaa83d4abb8b92", "5df3fe8b89186d53", "2ff3cc0ed9e00a49", "d7d68596e81f52ef", "19b268b8440545d8", "bea77e0e2c7c327c", "d64b9a13c5081740", "b635fe28a35ff8b6"], "x": 870, "y": 1780, "wires": [["6ac75c165eecc2f5"]], "l": true}, {"id": "50f874d57977fcf9", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.metrics", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1900, "y": 1760, "wires": [["ddd6397bb839158d"]]}, {"id": "ddd6397bb839158d", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2280, "y": 1760, "wires": [[]]}, {"id": "d71c20e4c91d2c13", "type": "link in", "z": "0f7b0349d3beda52", "name": "driver.connection.check", "links": [], "x": 920, "y": 1920, "wires": [["e206b8f688cd4881"]], "l": true}, {"id": "ab057144cf917fb8", "type": "link out", "z": "0f7b0349d3beda52", "name": "driver.connection.check out", "mode": "return", "links": [], "x": 2305, "y": 1920, "wires": []}, {"id": "96f4267e8e774efd", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2250, "y": 2260, "wires": []}, {"id": "41d1269376597f69", "type": "function", "z": "0f7b0349d3beda52", "g": "96315c43b31f65cf", "name": "check connected", "func": "let connected = context.flow.get(\"connected\");\nif(connected) return msg;\nelse return null;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 950, "y": 200, "wires": [["b182ca465598b238"]]}, {"id": "e6f59bf0e0057665", "type": "OpcUa-Endpoint", "endpoint": "$(PROSYS_OPCUA_SERVICE)", "secpol": "None", "secmode": "None", "login": false}, {"id": "b217cde33d769d5b", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 440, "wires": [["63d080f78befb77a"]]}, {"id": "63d080f78befb77a", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 440, "wires": [[]]}, {"id": "bd3a318325ffc348", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 610, "y": 400, "wires": []}, {"id": "72351f8377641605", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 480, "wires": [["974891d7d2873899"]]}, {"id": "974891d7d2873899", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 480, "wires": [[]]}, {"id": "a8f0e7ebfa2bc2f1", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 590, "y": 600, "wires": [["f3137293845d295d"], ["f6acd8483f2ad83c", "6954e1368e3c4265"], ["0ce308f82dfa9c62"]]}, {"id": "f3137293845d295d", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 900, "y": 540, "wires": [], "l": true}, {"id": "f6acd8483f2ad83c", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 890, "y": 580, "wires": [["652d0c515bd55c1f"]]}, {"id": "6954e1368e3c4265", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1050, "y": 540, "wires": []}, {"id": "652d0c515bd55c1f", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1080, "y": 580, "wires": [["8d8212221924c636"]]}, {"id": "8d8212221924c636", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1240, "y": 580, "wires": [[]]}, {"id": "0ce308f82dfa9c62", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 900, "y": 620, "wires": [[]]}, {"id": "d1441a64c7115c62", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 440, "wires": [["85bb07af0c3dd5b1"]]}, {"id": "85bb07af0c3dd5b1", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 440, "wires": [[]]}, {"id": "4ce66a16a0ebf3ac", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2170, "y": 400, "wires": []}, {"id": "7f1c45e5129171e5", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 480, "wires": [["4c5c2a6f241c595e"]]}, {"id": "4c5c2a6f241c595e", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 480, "wires": [[]]}, {"id": "81bf09c7d2ddeef1", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 2150, "y": 600, "wires": [["38b37541ec9d7086"], ["f710ff242d15d2e8", "d4eed8bd292a21ce"], ["90e090d09597d99b"]]}, {"id": "38b37541ec9d7086", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2460, "y": 540, "wires": [], "l": true}, {"id": "f710ff242d15d2e8", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2450, "y": 580, "wires": [["8fe25b250eb9c113"]]}, {"id": "d4eed8bd292a21ce", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2610, "y": 540, "wires": []}, {"id": "8fe25b250eb9c113", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2640, "y": 580, "wires": [["5a5a9eea552c4d11"]]}, {"id": "5a5a9eea552c4d11", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2800, "y": 580, "wires": [[]]}, {"id": "90e090d09597d99b", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 2460, "y": 620, "wires": [[]]}, {"id": "1887709fc6528b54", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 780, "wires": [["814726ac0c8b6e67"]]}, {"id": "814726ac0c8b6e67", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 780, "wires": [[]]}, {"id": "ae6b073d19188b97", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 610, "y": 740, "wires": []}, {"id": "c5c1edce836d86be", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 750, "y": 820, "wires": [["fc7ed494438df141"]]}, {"id": "fc7ed494438df141", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1150, "y": 820, "wires": [[]]}, {"id": "c812ebf9e540a1fe", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 590, "y": 940, "wires": [["cd39ec5da0b7b743"], ["0ec6f161456080de", "8c440ee2fbacc4cd"], ["873b551efef1ee20"]]}, {"id": "cd39ec5da0b7b743", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 900, "y": 880, "wires": [], "l": true}, {"id": "0ec6f161456080de", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 890, "y": 920, "wires": [["ed864bae9e3667cf"]]}, {"id": "8c440ee2fbacc4cd", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1050, "y": 880, "wires": []}, {"id": "ed864bae9e3667cf", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1080, "y": 920, "wires": [["0b247933a27d80a2"]]}, {"id": "0b247933a27d80a2", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1240, "y": 920, "wires": [[]]}, {"id": "873b551efef1ee20", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 900, "y": 960, "wires": [[]]}, {"id": "b888faeda674c7f7", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 770, "y": 1140, "wires": [["d9b4fa73dbd6edd6"]]}, {"id": "d9b4fa73dbd6edd6", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1170, "y": 1140, "wires": [[]]}, {"id": "daffd20fa74cf223", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 630, "y": 1100, "wires": []}, {"id": "b24326ed868cadaf", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 770, "y": 1180, "wires": [["a23620144c225f29"]]}, {"id": "a23620144c225f29", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1170, "y": 1180, "wires": [[]]}, {"id": "635b0abe09fce32e", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 610, "y": 1300, "wires": [["2779d6b6a0f7b1cc"], ["9ba9e0375a9d2342", "76d5dee71e3107c6"], ["05437603b57202cf"]]}, {"id": "2779d6b6a0f7b1cc", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 920, "y": 1240, "wires": [], "l": true}, {"id": "9ba9e0375a9d2342", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 910, "y": 1280, "wires": [["fb00575ebeebdd41"]]}, {"id": "76d5dee71e3107c6", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1070, "y": 1240, "wires": []}, {"id": "fb00575ebeebdd41", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1100, "y": 1280, "wires": [["fbafdeab6d862da6"]]}, {"id": "fbafdeab6d862da6", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 1260, "y": 1280, "wires": [[]]}, {"id": "05437603b57202cf", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 920, "y": 1320, "wires": [[]]}, {"id": "c2cb1200b33636b6", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 780, "wires": [["ba0863dbc834a365"]]}, {"id": "ba0863dbc834a365", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 780, "wires": [[]]}, {"id": "59a0e1fc3427af1d", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2170, "y": 740, "wires": []}, {"id": "e7b0e29654c97b11", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2310, "y": 820, "wires": [["78681ff1068dd8ee"]]}, {"id": "78681ff1068dd8ee", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2710, "y": 820, "wires": [[]]}, {"id": "d1a0eed909781186", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 2150, "y": 940, "wires": [["77b206c3d0825bf2"], ["02e7ce2bef661db2", "5fc3a1ab4f2f91c9"], ["6aa495d862167d83"]]}, {"id": "77b206c3d0825bf2", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2460, "y": 880, "wires": [], "l": true}, {"id": "02e7ce2bef661db2", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2450, "y": 920, "wires": [["6cd8727fb110c287"]]}, {"id": "5fc3a1ab4f2f91c9", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2610, "y": 880, "wires": []}, {"id": "6cd8727fb110c287", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2640, "y": 920, "wires": [["d5a70bca88fe5842"]]}, {"id": "d5a70bca88fe5842", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2800, "y": 920, "wires": [[]]}, {"id": "6aa495d862167d83", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 2460, "y": 960, "wires": [[]]}, {"id": "c738c3a954f311a0", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateSubscriptions", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2290, "y": 1140, "wires": [["014120179238785c"]]}, {"id": "014120179238785c", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2690, "y": 1140, "wires": [[]]}, {"id": "1699831229b4ece7", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2150, "y": 1100, "wires": []}, {"id": "89f3f17962032563", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.routed", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2290, "y": 1180, "wires": [["5b63bb155456b889"]]}, {"id": "5b63bb155456b889", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2690, "y": 1180, "wires": [[]]}, {"id": "4d10d66ba453060b", "type": "msg-router", "z": "0f7b0349d3beda52", "routerType": "broadcast", "topicDependent": false, "counterReset": false, "msgKeyField": "payload", "undefinedHash": false, "outputsInfo": [{"active": true, "clone": false, "delay": "0", "weight": "0"}, {"active": true, "clone": false, "delay": "0", "weight": "0"}], "name": "", "delaying": "unrelated", "msgControl": false, "outputs": 3, "x": 2130, "y": 1300, "wires": [["ebeaa83d4abb8b92"], ["982a8e9ce9bd7c84", "7fb5308b86050bd2"], ["494fca0dd6e19687"]]}, {"id": "ebeaa83d4abb8b92", "type": "link out", "z": "0f7b0349d3beda52", "name": "metrics", "mode": "link", "links": ["233985a03f7af2aa"], "x": 2440, "y": 1240, "wires": [], "l": true}, {"id": "982a8e9ce9bd7c84", "type": "json", "z": "0f7b0349d3beda52", "name": "", "property": "payload.data", "action": "", "pretty": false, "x": 2430, "y": 1280, "wires": [["32b6fd51cd723a00"]]}, {"id": "7fb5308b86050bd2", "type": "debug", "z": "0f7b0349d3beda52", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2590, "y": 1240, "wires": []}, {"id": "32b6fd51cd723a00", "type": "change", "z": "0f7b0349d3beda52", "name": "", "rules": [{"t": "set", "p": "target", "pt": "msg", "to": "southbound.updateValue", "tot": "str"}], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 2620, "y": 1280, "wires": [["6c5897b9225fa9a4"]]}, {"id": "6c5897b9225fa9a4", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": [], "linkType": "dynamic", "timeout": "30", "x": 2780, "y": 1280, "wires": [[]]}, {"id": "494fca0dd6e19687", "type": "link call", "z": "0f7b0349d3beda52", "name": "", "links": ["8cb87649afd62fd8"], "linkType": "static", "timeout": "30", "x": 2440, "y": 1320, "wires": [[]]}]